name: Update Stats
on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight
  workflow_dispatch:
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: anuraghazra/github-readme-stats@v4
        with:
          token: ${{ secrets.STATS }}
          username: vindexinsanctirex
      - name: Purge CDN Cache
        run: |
          curl -X PURGE https://github-readme-stats.vercel.app/api?username=vindexinsanctirex
          curl -X PURGE https://github-readme-streak-stats.herokuapp.com?user=vindexinsanctirex   
